<html>
    <head>
    <link rel="stylesheet" type="text/css" href="visu.css">
    </head>
    <body >
        <center>
        <h1> Find the right place! </h1><br>

        <form method ="POST" , action="http://127.0.0.1:5000/Cinema/">
            <h2> Department Number :  <input type="text", name='zpcode', placeholder="enter"> <br><br>
            </h2>
            <input type="submit" , value='See Movie Theater'>
        </form>
        <form method ="POST" , action="http://127.0.0.1:5000/Museum/">
            <h2> Department Number or Zip Code :  <input type="text", name='zpMus', placeholder="enter"> <br><br>
            </h2>
            <input type="submit" , value='See Museum'>
        </form>
        <form method ="POST" , action="http://127.0.0.1:5000/Librairy/">
            <h2> Department Number or Zip Code :  <input type="text", name='zpLb', placeholder="enter"> <br><br>
            </h2>
            <input type="submit" , value='See Librairy'>
        </form>
    </center>



    </body>
</html>